body {
    text-align: center;
    color: purple;
    margin: auto;
    width: 500px;
    background-color: #cfb1f2
  }
  
  h1, h2, h3 {
    border: 7px;
    margin: 30px;
    border-style: dotted;
    display: inline-block;
    padding: 10px;
    border-color: green;
  }

  td, tr {
    border: 3px;
    border-style: dotted;
    padding: 10px;
    border-color: green;
  }
  
  table {
    border: 5px;
    border-style: solid;
    padding: 10px;
    border-color: gray;
  }
  
  .mainpara {
    font-size: 12px;
  }
  
  p {
    border: 5px;
    border-style: inset;
    padding: 5px;
    border-color: silver;
  }
  
  li {
   border: 1px;
   border-style: solid;
   border-color: purple;
  }
  
  ul {
    list-style-type: upper-roman;
  }
  
  blockquote {
    border: 10px;
    border-style: outset;
    padding: 5px;
  }
  
  footer {
    margin-top: 20px;
    background-color: blue;
  }